/* static/css/style.css */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #141414;
    color: white;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #1a237e;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.hint {
    color: #666;
    font-style: italic;
    text-align: center;
    margin-bottom: 1.5rem;
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}

.search-input {
    flex-grow: 1;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: black;
    transition: border-color 0.2s, box-shadow 0.2s;
    color: white;
}

.search-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    outline: none;
}

.search-button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: red;
}

h2 {
    margin-top: 0;
}

pre {
    background-color: #000000;
    padding: 1.5rem;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    max-height: 210px;
    color: #ffffff;
}

/* Container for the grid layout */
.grid-container {
    display: grid;
    grid-template-columns: 28% 70%;
    gap: 3.5rem;
    justify-content: center;
}

#resultsPre{
    width: 28vw;
    max-height: 49vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-item {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #333;
    transition: background-color 0.2s;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover {
    background-color: #333333;
}

#osm {
    width: 100%;
    filter: invert(1);
}

.wk {
    fill: #f8f8f8;
    stroke-width: 0.48px;
    stroke: #1d1d1b;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Remove the fixed fill from here */
.wk:hover, .wk-active {
    fill: red;
    opacity: 0.7; /* A default opacity for demonstration */
    cursor: pointer;
}

/* New, dynamic class for highlighting */
.district-highlight {
    fill: red;
    stroke: #333;
    stroke-width: 1.5px;
    /* The opacity will be set directly in JavaScript */
}

/* Legend list for good points */

.legend-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
}

.legend-item {
    text-align: center;
    padding: 10px;
}

.legend-link {
    text-decoration: none;
}

/* Legend list for bad points */
