<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GraphQL Data Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet.css') }}"
             crossorigin=""/>
</head>
<body>
    <div id="sideBar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/Antifalogo_alt2.svg') }}"/>
        </div>
    </div>
    <div class="container">
        <div class="search-container">
            <input type="text" id="searchInput" class="search-input" placeholder="Enter a keyword (e.g., 'III. Weg', 'AfD') to filter results by the 'Merkmal' column.">
            <button class="search-button" onclick="searchData()">Search</button>
            <button id="theme-toggle-button" class="theme-toggle filter-invert">☀️</button>
        </div>
        <div class="grid-container">
            <div id="resultsPre">
                <span style="color: #888888;">Your search results will appear here.</span>
            </div>
            <div id="osm" style="height:80.5vh"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='lib/leaflet.js') }}"
             crossorigin=""></script>
    <script>
        window.STATIC_PATHS = {
            wahllokalPin: '{{ url_for('static', filename='images/wahllokal_pin.svg') }}',
            wahllokalData: '{{ url_for('static', filename='data/locations/') }}',
            geojson: '{{ url_for('static', filename='data/landtagswahl_brandenburg_2024_geo.json') }}'
        };
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}" type="module"></script>
</body>
</html>
